<% const name = "Rabiatul Adawiyah"; %> <% const address = "NTB" %> <% const born = "Oktober 2000" %>
<h1>Hi my name is: <%= name %> </br> I life at: <%= address %> </br>I was born on: <%= born %></h1>
